__pycache__/
server.log
test.txt

backend_log.txt
react_log.txt
__pycache__
anime_team_builder/backend/__pycache__/
anime_world_simulator/backend/__pycache__/
anime_power_scaler/backend/__pycache__/
node_modules/
anime_power_scaler/frontend/node_modules/
