__pycache__/
server.log
test.txt

backend_log.txt
react_log.txt
__pycache__
anime_team_builder/backend/__pycache__/
anime_world_simulator/backend/__pycache__/
__pycache__/
anime_affinity_matcher/backend/__pycache__/
__pycache__/
node_modules/
